# Python cache and packaging
__pycache__/
*.py[cod]
*.pyc
*.egg-info/

# Logs and local databases
*.log
*.db
*.sqlite
*.duckdb

# Virtual environments
venv/
.env
.envrc

# Airflow runtime files
airflow/airflow.db
airflow/logs/
.airflow/
airflow_home/
logs/  # generic logs folder (if used)

# dbt build artifacts
.dbt/
dbt_packages/
target/

# OS / Editor files
.DS_Store
.idea/
.vscode/
*.swp
